body {
	background: #0370cf;
}

.jumbotron {
	background: #CC1900;
	color: white;
	text-align: center;
	border: 5px white solid;
}

.panel-body {
	background: #CC1900;
	color: white;
	border: 5px white solid;
}

.btn {
	background: #CC1900;
	color: white;
}

th {
	text-align: center;
}

td {
	text-align: center;
}